.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.gallery-card1-image {
  width: 300px;
  object-fit: cover;
}
.gallery-card1-text {
  color: #f95c5c;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 500;
}
.gallery-card1-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-card1-root-class-name1 {
  margin-bottom: var(--dl-space-space-twounits);
}
.gallery-card1-root-class-name2 {
  margin-bottom: var(--dl-space-space-twounits);
}



@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}

.staff-gallery-card-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.staff-gallery-card-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.staff-gallery-card-image {
  width: 300px;
  object-fit: cover;
}
.staff-gallery-card-text {
  color: #6f6f6f;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
}
.staff-gallery-card-text1 {
  color: #2b2b2b;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
}
.staff-gallery-card-text2 {
  color: #2b2b2b;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}






@media(max-width: 767px) {
  .staff-gallery-card-gallery-card {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.home-image {
  flex: 1;
  width: var(--dl-size-size-maxwidth);
  height: 40%;
  align-self: flex-start;
  object-fit: cover;
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.home-text {
  color: #2b2b2b;
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Georgia;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.home-text2 {
  color: #2b2b2b;
  font-size: 20px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Georgia;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.home-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-danger-700);
}
.home-text4 {
  color: var(--dl-color-gray-white);
  font-size: 60px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Exo 2;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-gallery {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-danger-700);
}
.home-text6 {
  color: var(--dl-color-gray-white);
  font-size: 60px;
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Exo 2;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-gallery1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .home-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .home-gallery1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text6 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-gallery1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
