html {
  scroll-behavior: smooth;
  scroll-padding-top:50px;
}

.hide {
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: 0.25s;
  position: relative;
  vertical-align:bottom;
}

.text-align-left  { text-align: left;  }
.text-align-right { float: right; text-align: right; }

.blackbox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 100%;
  width:100%;
  height: 100%;
  z-index: 0;
  animation: fadeBackground 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeBackground {
  0% { opacity: 100%; }
  100% { opacity: 0%; }
}

.gamelogo {
  transition: 0.3s;
  border-radius: 40px;
  width: 250px;
  height: 200px;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
}

.gamelogo:hover {
  #width: 260px;
  #height: 210px;
  border-radius: 10px;

}

.leanbottom {
  width:100%;
  position: absolute;
  bottom: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(transparent, #AAA, #FFF);
  visibility: hidden;
}

.gamelogo:hover .leanbottom {
  height: 60px;
  transition: height 1s;
  visibility: visible;
  #opacity: 75%;
}
.gamelogo:hover .hide {
  transition-duration: 1s;
  outline-color: #6b6b6b;
  text-outline: #6b6b6b 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;

}
.staffportrait {
  transition: 0.25s;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
.staffportrait:hover {
  width:250px;
  height:300px;
}


.staffportrait:hover .hide {
  transition-duration: 1s;
  outline-color: #6b6b6b;
  text-outline: #6b6b6b 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}F

.staffportrait:hover .leanbottom {
  height: 60px;
  transition: height 1s;
  visibility: visible;
}
#limitedsteps-logo {
  background-image: url(public/playground_assets/limitedsteps1-300w.png);

}

#vrislands-logo {
  background-image: url(public/playground_assets/vrislands-300w.png);
}
#prototype-logo {
  background-image: url(public/playground_assets/prototype-300w.png);
}
#powernoid-logo {
  background-image: url(public/playground_assets/powernoid-300w.png);
}
#magicgarden-logo {
  background-image: url(public/playground_assets/magicgarden-300w.png);
}
#cavegame-logo {
  background-image: url(public/playground_assets/cavegame-300w.png);
}

#joshpfp {
  background-image: url(public/playground_assets/josh-300w.png);
}
#owenpfp {
  background-image: url(public/playground_assets/owen-300w.png);
}
#maxxypfp   { background-image: url(public/playground_assets/nate-300w.png); }
#alyssapfp  { background-image: url(public/playground_assets/alyssa-300w.png); }
#anthonypfp { background-image: url(public/playground_assets/anthony-300w.png);}
#tylerpfp   { background-image: url(public/playground_assets/tyler-300w.png); }

:root {
  --dl-color-gray-100: #212121;
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 72px;
  --dl-size-size-small: 24px;
  --dl-color-danger-300: #40589d;
  --dl-color-danger-500: #223364;
  --dl-color-danger-700: #8196d0;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-black);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
#csoft-brain-graphic {
  opacity: 0;
  animation: fadein 3s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
#csoft-eye-graphic {
  opacity: 0;
  animation: fadein 2s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#csoft-text-graphic {
  opacity: 0;
  animation: fadein 5s;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-direction: initial;
  animation-fill-mode: forwards;
}


@keyframes fadein {
  0% {opacity:0%;}
  100% {opacity: 100%;}
}

.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
