

.gallery-card1-text {
  color: #f95c5c;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-family: Noto Sans sans-serif;
  font-weight: 500;
}




@media(max-width: 767px) {

}
