<div>
  <link href="./staff-gallery-card.css" rel="stylesheet" />
  <div class="staff-gallery-card-gallery-card">
    <div class="staff-gallery-card-container">
      <img
        alt="image"
        src="public/playground_assets/magicgarden-300w.png"
        class="staff-gallery-card-image"
      />
    </div>
    <h2 class="staff-gallery-card-text"><span>Developer Name</span></h2>
    <span class="staff-gallery-card-text1"><span>Position</span></span>
    <span class="staff-gallery-card-text2"><span>Email</span></span>
  </div>
</div>
